header{
	padding-left:20px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10Px; 
	background-color: #0FBBC1;
}	

img.im{
	float: right;
	width: 180px;
	height: 110px;
	padding-top: 10px;
	padding-bottom: 10px;
}
img.im1{
	/*float: right;*/
	width: 150px;
	height: 150px;
	/*position: absolute;/*poner una imagen en cualquier lugar*/
	/*bottom: 350px;
	right: 250px;/*sirve para alinearlo a la derecha*/
	/*margin-bottom: 40px*/
	
}
img.im2{
	
	width: 280px;
	height: 280px;
	float: right;
	
}

hr{
	height: 5px;
	margin-left:0px;
	background-color: #0FBBC1;
	
}
h1{
	text-align: left;
	color: white;
	font-weight: bold;
}

h2{
	color:  #0FBBC1;
	font-weight: bold;
}
p{
	font-size: 14px;
}

article.form{
	height: 155px;
	width: 930px;
	background-color:#D3595D; 
	/*border-style: solid;*/
}

p.colour{
	color: white;
}


ul{
	  /*list-style-type: none;*/
    margin: 0;
    padding: 0;
	/* width: 400px;*/
	 /*padding-left: 30px;
	/*position: absolute;
	bottom: 185px;
	right: 950px;*/
}
li{
	margin-bottom: 10px;
	padding-left: 5px;
	color: white;
	font-weight: bold;
	background-color: #6DD2CF;
	
}
li a {
	text-decoration: none;
    display: block;
    color: white;
    
}

li a:hover{
	 background-color: #D3595D;
	 color: white;
}
li a.active {
    background-color: none;
    color: white;
}
li a:hover:not(.active) {
    background-color: #D3595D;
    color: white;
}

